main {
  border-radius: 15px;
  margin-top: 38;
  margin-bottom: 50;
  margin-left: auto;
  margin-right: auto;
  width: 18%;
  height: 80%;
  padding: 1%;
  background-color: rgb(241, 196, 44);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.circlesStop, .circlesSlow, .circlesGo {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50px !important;
  background: rgb(110, 86, 14);
  padding: 25 !important;
  margin-top: 30 !important;
  margin-bottom: 20 !important;
  margin-left:auto !important;
  margin-right: auto !important;
  box-shadow: inset 0 3px 10px !important;
}
.Stop {
  background: red;
}
.Slow {
  background: yellow;
}
.Go {
  background: green;
}
