  header {
    background-color:rgb(196,196,196);
     margin-top: -8;
     margin-left: -8;
     margin-right: -8;
  }
  .button {
    height:40px;
    width:100px;
    border-radius: 4px;
    border: none;
    float:right;
    margin-top: 7px;
    margin-right:15px;
    font-family: "Lucida Grande";
    font-size: 100%;
    color: white;
    background-color:rgb(51,60,181);
    text-align: center;
    line-height: 38px;
  }
  hr {
      border: 0;
      height: 1.5px;
      box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
  }
  a {
    color: white;
    float:right;
    margin-top: 17px;
    margin-right:15px;
    font-family: "Lucida Grande";
    font-size: 95%;
    text-shadow:1px 1px 2px gray;
    text-decoration: none;
  }
  body {
    background-image: url("http://f.cl.ly/items/3C0W1n1t1s0P1Z0w131r/background.png");
    font-family: "Lucida Grande";
  }
  main {
    border-radius: 10px;
    padding: 2%;
    margin-top: 50;
    margin-bottom: 50;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #hr1 {
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: 7em;
    margin-right: 7em;
    border-color: lightgrey;
}
  #footer {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    font-size: 80%;
    color:grey;
  }
