.card {
  width: 100px;
  height: 150px;
  border: 5px solid white;
  float: left;
}

.card-face-down {
  background-image: url("./pokemonCardFront.jpg") !important;
  background-size: cover;
}

.card-face-up {
  background-image: none;
  background-size: cover;
  border: solid;
  background-color: rgb(233, 202, 170);
}

p1 {
  color: yellow;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: -1px;
  -webkit-text-stroke: 1px black;
}
img {
  margin-bottom: 3%;
}
.professor {
  float:right;
}
.words {
  margin-left: 55;
  font-size: 20;
}
.gameHow {
  width: 50%;
  height: 70%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  border-style: dotted;
  border-radius: 50px;

}

.gameBox {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  border-style: dotted;
  overflow: auto;
}

.gameOver {
  text-align: center;
  margin-top: 20%;
  font-size: large;
}

.hidden {
  display: none;
}


.gameIntro {
  text-align: center;
  margin-top: 10%;
}

.startButton {

}
.howButton {

}

.buttons {
	border-radius:28px;
	border:1px solid #18ab29;
	cursor:pointer;
  background-color: white;
	color:black;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.buttons:hover {
	background-color:black;
  color: white;
}


https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/721.png
