.card {
  width: 100px;
  height: 150px;
  border: 5px solid white;
  float: left;
}

.card-face-down {
  background-image: url("./pokemonCardFront.jpg") !important;
  background-size: cover;
}

.card-face-up {
  background-image: none;
  background-size: cover;
}

.gameIntro {

}

.gameBox {
  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.gameOver {

}

.hidden {
  display: none;
}


.gameIntro {
  text-align: center;
  margin-top: 20%;
}

.startButton {

}

.buttons {
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
  background-color: white;
	color:black;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.buttons:hover {
	background-color:black;
  color: white;
}


https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/721.png
